body {
    background-color: black;
    margin: 0;
}

header {
    margin-top: 10vh;
    height: 90vh;
    width: 100vw;
    padding:  10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.friends_forever {
    display: block;
    margin: auto;
    height: 50vh;
}

.title {
    margin-top: 0;
    color: white;
    font-family: "arial";
    font-weight: 900;
    font-size: 100px;
    text-align: center;
}


